.projects {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    z-index:0;
}

.project-grid {}

.horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 50px;
    flex: 1;
    overflow:hidden;
    min-height:0;
    padding-bottom:1rem;
}

@media (max-width: 945px){
    .horizontalContainer {
        flex-direction: column;
        margin:0;
    }
    .projects {
        padding: 0;
        padding-top: 10rem;
        height: auto;
    }
}
@media (max-width: 440px){
    .projects {
        display: block;
        padding-top: 10rem;
        padding-left: 0;
        padding-right: 0;
    }
    .horizontalContainer {
        display: block;
        margin: 0;
    }
}



