.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 400px;
}

.controlGroup {
    display: grid;
    grid-template-columns: 130px auto 20px;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/* Style for labels */
.controlGroup label {
    white-space: nowrap;
}

/* Style for range inputs */
.controlGroup input[type="range"] {
    width: 100%;
}

/* Style for the color picker */
/* .controlGroup input[type="color"] {
    width: 50px;
    height: 30px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

/* Style for the duration value display */
.controlGroup span {
    min-width: 2.5em;
    text-align: left;
}