.container {
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 415px;
    width: 50%;
    margin: 0 10px 0 20px;
    align-self: center;
    /* font-family: Arial, sans-serif; */
}

.heatmapWrapper {
    position: relative;
    padding: 20px 0 0 30px;
    min-height: 128px;
}

.title {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.custom-button {
    width: 300px;
    margin-top: 0;
}

.legendPlaceholder {
    height: 19.188px;
}

@media (max-width: 945px){
    .container {
        width: 100%;
    }
}
@media (max-width: 440px){
    .container {
        margin: 0;
        width: 100%;
        box-shadow: none;
        
    }
    .heatmapWrapper {
        overflow-x: scroll;
        overflow-y: scroll;
    }
}