.grid {
    display: grid;
    column-gap: 3px;
    row-gap: 3px;
    padding: 0;
    margin-bottom: 3px;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    position: relative;
    height: 88px;
}

.day {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s ease;
    background-color: #ebedf0;
}

.day:hover {
    transform: scale(1.2);
}