.day {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s ease;
    background-color: #ebedf0;
    /* Default color for placeholder */
}

.day:hover {
    transform: scale(1.2);
}



/* HeatmapDay.module.css */
.day.loading {

    animation-duration: var(--wave-duration, 1s);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    & :global {
        animation-name: loadingWave
    }
}