/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--section-bg);
}

.hero-content-title,
.hero-content-text {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
}


.scroll-indicator {
    position: absolute;
    bottom: 2rem;
    margin:auto;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-in-out;
    animation-duration: 2s;
    animation-iteration-count:infinite;

    & :global {
        animation-name: bounce;
    }
}

.scroll-indicator button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.scroll-indicator i {
    color: var(--text-color);
    font-size: 2rem;
    
}

.scroll-indicator button:hover i {
    color: var(--primary-color);
    transform: translateY(5px);
}