

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* @import 'variables.css';
@import 'base.css';
@import 'components/navigation.css';
@import 'components/hero.css';
@import 'components/about.css';
@import 'components/projects.css';
@import 'components/contact.css';
@import 'components/footer.css';
@import 'components/sections.css';
@import 'components/sideScroll.css';
@import 'animations.css'; */
