.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.about * {
        /* display: block !important;
    height: auto !important; 
    position:static !important;
    top: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    margin: 0 !important;
    padding: 0 !important; 
    min-height: auto !important; */
}


.about .title {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
}

.about h2 {
    text-align: center;
    flex-shrink: 0;
}

.about .container {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    width: 100%;
    max-width: 800px;
}

.flex-image {
    display: flex;
    justify-content: flex-start;
}

.about-content p {
    font-size: 1.1rem;
    text-align: justify;
    hyphens: auto;
    line-height: 1.8;
    color: var(--text-color);
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}

.about-image {
    text-align: center;
}

.about-image img {
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.02);
}


.about-content .row {
    position: relative;
}

.col-lg-6 {
    display: flex;
    flex-direction: column;
}

.col-lg-6:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-lg-6:last-child p {
    margin: 0.5rem 0;
}

.about-content .row {
    position: relative;
}

.col-lg-6:first-child {
    display: flex;
    align-items: center;
}

.about-image img {
    height: 330px;
    width: auto;
}

.col-lg-6:last-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-lg-6:last-child p {
    margin: 0.5rem 0;
}



.highlight {
    font-size: 1.5rem !important;
    text-align: start !important;
    /* font-family: "Roboto Flex", sans-serif; */
    font-weight: 700;
    line-height: 2rem !important;
    /* font-variation-settings:
    "slnt" -10,
    "wdth" 300,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 312; */
}

@media (max-width: 800px) {
    .about-image {
        margin-bottom: 2rem;
    }
    .about .container {
        height: auto;
    }
    .about {
        min-height: auto;
    }
}